<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup 2026 Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>World Cup 2026 Dashboard</h1>
<div class="fixtures-container">
    <h2 class="section-title">Todays Matches</h2>
    {% for fixture in fixtures %}
        {% if fixture.is_today %}
        <div class="fixture today">
            <span class="date">{{ fixture.date }}</span>
            <span class="teams">{{ fixture.home }} vs {{ fixture.away }}</span>
            {% if fixture.status == 'FINISHED' %}
                <span class="score">{{ fixture.home_score }} - {{ fixture.away_score }}</span>
            {% else %}
                <span class="status">{{ fixture.status }}</span>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}

    <h2 class="section-title">All Fixtures</h2>
    {% for fixture in fixtures %}
        <div class= "fixture">
            <span class="date">{{ fixture.date }}</span>
            <span class="teams">{{ fixture.home }} vs {{ fixture.away }}</span>
            {% if fixture.status == 'FINISHED' %}
                <span class="score">{{ fixture.home_score }} - {{ fixture.away_score }}</span>
            {% else %}
                <span class="status">{{ fixture.status }}</span>
            {% endif %}
        </div>
        {% endfor %}
</div>
</body>
</html>